@import 'utils';
.paginatoin {
    margin-top: 2rem;


    // 한가운데 세로로 저렬
    display: flex;
    align-items: center;

    .numer {
        font-size: 0.85rem;
        text-align: center;
        color: $oc-gray-6;
        flex: 1;      //남은 공간 다 차지.
    }
}